<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainPageCss.css"/>
    <link href="https://fonts.googleapis.com/css?family=IBM Plex Sans" rel="stylesheet" />
    <title>Twitter</title>
</head>

<body>
<nav>
    <div class="navbar">
        <ul>
            <li>Login</li>
            <li>Register</li>
            <li>About</li>

        </ul>
    </div>
</nav>

<section>

    <div class="title">Welcome to <br> Witter</div>
    <div class="description">Social media for sharing <br> emotions and important moments from our life</div>
    <img src="https://upload.wikimedia.org/wikipedia/sco/thumb/9/9f/Twitter_bird_logo_2012.svg/2534px-Twitter_bird_logo_2012.svg.png" alt="twitter logo" width="250px" height="200px" class="image">
</section>


<section class=articles>
    <div class="divider">
        <div class="page-divider"></div>
        <div class="our-thoughts">Aiming for a copy of twitter :D</div>
        <div class="page-divider"></div>
    </div>
    <h2 class="creditsPos">Created and designed by Angel Atanasov</h2>
</section>
</body>

</html>