
<div th:replace="~{fragments/head}"></div>

<main class="main" >

  <a class="button-twitter" href="http://localhost:8080/" target="_blank"></a>
  <form
          th:action="@{/login}"
          th:method="POST"
          class="login">

    <link rel="stylesheet" href="/css/loginPage.css" />
    <svg class="login-sides">
      <line class="top-right first" x1="50%" x2="100%" y1="0" y2="0"/>
      <line class="top-left first" x1="50%" x2="0" y1="0" y2="0"/>
      <line class="right second" x1="100%" x2="100%" y1="0" y2="100%"/>
      <line class="left second" x1="0" x2="0" y1="0" y2="100%"/>
      <line class="bottom-left third" x1="0" x2="50%" y1="100%" y2="100%"/>
      <line class="bottom-right third" x1="100%" x2="50%" y1="100%" y2="100%"/>
	</svg>
    <fieldset class="login-fieldset">

      <input
              id = "username"
              name = "username"
              type="text" min="2" max="50"
             placeholder="Username" class="login-fieldset-field"/>

      <input
              id = "password"
              name = "password"
              type="password"
             min="2" max="50"
             placeholder="*****" class="login-fieldset-field"/>

      <p th:if="${bad_credentials}"
         class="errors alert alert-danger">
        Invalid username or password.
      </p>

      <button type="submit" class="login-fieldset-submit" value="Login">
        Login
      </button>

    </fieldset>

  </form>

  <h1 class="errors alert alert-danger"  th:if="${bad_credentials}">
    Invalid username or password.
  </h1>

</main>