<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <title>Witter</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/styles.css" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>



</head>
<body>

<!-- <header th:replace="~{fragments/commons::nav}"></header> -->

<div class="sidebar">


    <i class="fab fa-twitter"></i>
    <form method="GET" th:action="@{/home}" class="sidebarOption">

        <button type="submit" value="home" class="material-icons" > home </button>
        <h2>Home</h2>

    </form>

    <div class="sidebarOption">
        <span class="material-icons"> search </span>
        <h2>Explore</h2>
    </div>

    <th:block sec:authorize="isAuthenticated()">
        <div class="sidebarOption">
            <span class="material-icons"> notifications_none </span>
            <h2>Notifications</h2>
        </div>

        <div class="sidebarOption">
            <span class="material-icons"> mail_outline </span>
            <h2>Tweets</h2>
        </div>

        <div class="sidebarOption">
            <span class="material-icons"> bookmark_border </span>
            <h2>Liked posts</h2>
        </div>

        <div class="sidebarOption">
            <span class="material-icons"> list_alt </span>
            <h2>Lists</h2>
        </div>

        <form method="POST" th:action="@{/profile}"  class="sidebarOption sidebarOption active">

            <button type="submit" name="submit" value="value" class="material-icons" > perm_identity </button>
            <h2>Profile</h2>

        </form>

        <!-- <div class="sidebarOption"> -->
        <!--       <span class="material-icons"> more_horiz </span>  -->
        <!--       <h2>More</h2> -->
        <!-- </div> -->

        <form method="POST" th:action="@{/logout}"  class="sidebarOption">

            <button type="submit" name="submit" value="value" class="material-icons" > logout </button>
            <h2>Logout</h2>

        </form>

        <!-- <button type="submit" name="submit" value="value" class="material-icons">Logout</button> -->

        <button class="sidebar__tweet">Tweet</button>

    </th:block>
</div>


<main class="p-5 align-content-center bg-blur my-register-div" >


    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="profile-card p-3 py-4" th:object="${user}" th:method="POST">

                    <div class="main_container">
                        <div class="profile_container">

                            <img class="background_img" src="https://cdn.pixabay.com/photo/2018/08/21/23/29/forest-3622519_1280.jpg" alt="background" />

                            <img class="user_img" src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="user img" />

                            <span class="bg-secondary p-1 px-5 rounded text-white mt-2 mb-1" th:text="*{username}"></span>

                            <h3 class="mt-2 mb-1">Roles:</h3>

                            <p class="mt-2 mb-1" th:each="role: *{roles}" th:text="${role.getRole().name()}"></p>

                            <h3 class="mt-2 mb-1">Email:</h3>
                            <span th:text="*{email}"></span>



                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>