<!DOCTYPE html>
<html lang="en">

<body>

<main class="main">
    <a class="button-twitter" href="http://localhost:8080/" target="_blank"></a>
    <form
            th:action="@{/register}"
            th:method="POST"
            th:object="${registrationDTO}"
            class="register">
        <link rel="stylesheet" href="/loginPage.css" />
        <svg class="login-sides">
            <line class="top-right first" x1="50%" x2="100%" y1="0" y2="0"/>
            <line class="top-left first" x1="50%" x2="0" y1="0" y2="0"/>
            <line class="right second" x1="100%" x2="100%" y1="0" y2="100%"/>
            <line class="left second" x1="0" x2="0" y1="0" y2="100%"/>
            <line class="bottom-left third" x1="0" x2="50%" y1="100%" y2="100%"/>
            <line class="bottom-right third" x1="100%" x2="50%" y1="100%" y2="100%"/>
        </svg>
        <fieldset class="login-fieldset">
            <input type="text" placeholder="Username" class="login-fieldset-field"> <!-- to fix login in controller -->
            <input type="confirmPassword" placeholder="Confirm Password" class="login-fieldset-field"> <!-- to fix login in controller -->
            <input type="password" placeholder="*****" class="login-fieldset-field"> <!-- to fix login in controller -->
            <button type="submit" class="login-fieldset-submit">
                Register
            </button>
        </fieldset>
    </form>
</main>

</body>
</html>